extends layout.pug 

block content 
  if posts 
    each post, i in posts 
      .post 
        h1 
          a(href=`/posts/${post._id}`)
            =post.title
        p.meta Posted in 
          a.link(href=`/posts/show/${post.category}`) #{post.category} 
          | by #{post.author} 
          | on #{post.date.toDateString()}
        img(src=`/images/${post.mainImage}`, alt="blog image")
        !=truncatedText(post.body, 500) 
        span ...
        a.more(href=`/posts/${post._id}`) Read More