<button class="btn btn-primary rounded"><a href="/" class="text-light">Home</a></button>
<h1>{{title}}</h1>
<div class="row">
  <div class="large-6 columns">
    <img src="/images/{{projectImage}}" alt={{title}}>
  </div>
  <div class="columns large-6">
    <ul>
      <li><strong>Title: </strong>{{title}}</li>
      <li><strong>Client: </strong>{{client}}</li>
      <li><strong>Date: </strong>{{date}}</li>
    </ul>
    <hr>
    <p>{{description}}</p>
    <br>
    <a href="https://www.{{url}}" target="_blank">Visit Website</a>
  </div>
</div>